{
  "openapi": "3.0.0",
  "info": {
    "title": "LearNet Stater App API",
    "description": "REST API for LearNet Starter App",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.learnet.io/starter"
    }
  ],
  "tags": [
    {
      "name": "demo-user",
      "description": "Starter Demo User Service"
    },
    {
      "name": "discovery",
      "description": "Service Discovery services"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/discovery/{applicationName}": {
      "$ref": "./paths/discovery/discovery.json#/paths/get_service_instances"
    },
    "/demoUser/findAllUsers": {
      "$ref": "./paths/demo/demo.json#/paths/find_all"
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "SortOrder": {
        "type": "string",
        "enum": [
          "asc",
          "desc"
        ]
      },
      "PageableRequest": {
        "type": "object",
        "required": [
          "sort_by",
          "sort_dir",
          "limit",
          "offset"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "sort_by": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sort_dir": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "query": {
            "type": "string"
          }
        }
      },
      "PageableResponse": {
        "type": "object",
        "required": [
          "limit",
          "offset",
          "total_records",
          "num_pages"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "total_records": {
            "type": "integer",
            "format": "int64"
          },
          "num_pages": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UserDto": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "is_email_verified": {
            "type": "boolean"
          },
          "picture": {
            "type": "string"
          },
          "roles": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UserRole": {
        "type": "string",
        "nullable": false,
        "enum": [
          "ROLE_ADMIN",
          "ROLE_TEST",
          "ROLE_DEMO_USER_READ"
        ]
      }
    }
  }
}